body {
    margin: 0px;
}

main {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

header {
    background-color: gray;
    color: white;
    margin: 0;
    padding: 15px 15px 1px 15px;
    text-align: center;
}

header h1 {
    font-size: 50px;
    padding: 0px;
}

.form-section {
    width: 100%;
}

input {
  height: 20px;
  width: 18.5%;
}

#submit {
    float: right;
    margin: 10px;
    border-radius: 5px;
    font-size: 20px;
    width: 100px;
}

.table-section{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 25px;
    padding: 5px;
    height: 40px;
    text-align: left;
  }

table {
    width: 100%;
}

  th {
    background-color: lightgray;
    width: 50px;
  }

  .annual-salary {
    text-align: right;
  }

  .total {
    text-align: right;
  }

  .delete-div {
    text-align: center;
    width: 80%;
    margin: auto;
  }

  .delete-btn {
    width: 100%;
    font-size: 20px;
    border-radius: 5px;
  }


  
  